* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 88px 64px;
}









